.Question {
  background: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 8px;
  margin-top: 16px;
  position: relative;
  width: 50%;
}

.Question label {
  color: var(--background);
  font-size: 32px;
}

.Question #answer {
  background: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 4px;
  height: 32px;
  margin-left: 16px;
  margin-bottom: 72px;
  padding: 8px;
}

.Question #check input {
  background: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 4px;
  bottom: 16px;
  color: var(--foreground);
  right: 16px;
  padding: 8px 16px;
  position: absolute;
}
