.Question {
  border: 4px solid var(--foreground);
  margin: 16px 0;
  position: relative;
  width: 50%;
}

.Question #text {
  margin: 16px;
}

.Question form {
  margin: 16px;
}

.Question #answer {
  border: 4px solid var(--foreground);
  border-right-width: 0;
  padding: 8px 16px;
  width: 200px;
}

.Question #check {
  border: 4px solid var(--foreground);
  padding: 8px 16px;
}

.Question #check:hover {
  color: var(--background);
  background: var(--foreground);
}
