@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CRSV,MONO@300..800,0,0..1&display=swap');

* {
  --cloud: #FFFFFF;
  --sky: #F1FAEE;
  --sea: #A8DADC;
  --neptune: #457B9D;
  --blueberry: #1D3557;
  --pomegranate: #E63946;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--cloud);
    --foreground: var(--blueberry);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--blueberry);
    --foreground: var(--cloud);
  }
}

* {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Recursive';
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  padding: 64px;
}

a:hover {
  color: var(--pomegranate);
}

::selection {
  background: var(--foreground);
  color: var(--background);
}
