@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

body, h1 {
  margin: 0;
}

a {
  color: inherit;
}

.App {
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  .App {
    background: black;
    color: white;
  }
}

.App h1 {
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-size: 16vw;
}
